<h1 class="page-header">Cash Flow</h1>

<h3>Income</h3>
<p>Today: <%= number_to_currency IncomeEntry.total_today %></p>
<p>This Month: <%= number_to_currency IncomeEntry.total_month %></p>
<p>This Year: <%= number_to_currency IncomeEntry.total_year %></p>

<h3>Expenses</h3>

Projected and Actual