<h1 class="page-header">Welcome!</h1>
<%= link_to "New Expense Entry", new_expense_entry_path, class: "btn btn-danger", id:"aaa"  %>
<hr>
<%= link_to "New Income Entry", '#', class: "btn btn-success", id:"aaa"  %>
<hr>
<%= link_to "Add Expense Category", new_expense_path, class: "btn btn-primary", id:"aaa"  %>
